.bee__img__bottom {
  display: block;
  position: fixed;
  height: 6vh;
  right: 8%;
  bottom: 13vh;
  border-radius: 50%;
  border: 2px solid black;
}

ul {
  list-style: none;
  text-decoration: none;
}

.bee_links {
  display: inline-block;
  flex-wrap: wrap;
}
