* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background-color: white;
  box-shadow: 5px 5px 25px black;
  background-image: url('images/bgyellow.png');
  background-repeat: no-repeat;
  background-size: 70vw 40vh;
  background-position: left -10% top 50%;
}

.burgerMenu {
  height: 40px;
  background: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;

.title {
  display: block;
  padding: 5px;
  height: 4.5vh;
  text-align: center;

  /* font-family: Bebas Neue; */
  font-size: 1rem;
  border: solid 1px;
  color: black;

  /* text-shadow: 5px 5px 25px black; */
  box-shadow: 5px 5px 15px goldenrod;
}

/* BODY  */

.Body {
  height: 85vh;
  background:
    linear-gradient(
      180deg,
      rgba(221, 181, 1, 0) 0%,
      rgba(248, 177, 51, 0.8) 66.67%
    );
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.maya {
  display: block;
  position: fixed;
  height: 6vh;
  right: 8%;
  bottom: 13vh;
  border-radius: 50%;
  border: 2px solid black;
}



.team__img {
  width: 80vw;
}


/* FOOTER */

 .Footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  height: 8vh;
  background-image: url('images/bgyellow.png');
  background-repeat: no-repeat;
  background-color: red;
  box-shadow: 5px 5px 25px black;
  background-size: 70vw 40vh;
  background-position: right -10% top 50%;
} 

@media screen and (min-width: 900px) {
  .Header {
    height: 10vh;
    background-size: 70vw 47vh;
  }

  .title {
    height: 6.5vh;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1380px) {
  .Header {
    height: 11vh;
    background-size: 70vw 57vh;
  }

  .title {
    height: 8vh;
    font-size: 2rem;
  }
}
