body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15vh;
  width: 100vw;
  background-image: url("images/bgyellow.png");
  background-repeat: no-repeat;
  left: 0;
  top: 3;
}

.maya {
  height: 50px;
  position: sticky;
  display: block;
  border-radius: 50%;
  border: 2px solid black;
}

h1 {
  height: 70vh;
  background: linear-gradient(180deg, rgba(221, 181, 1, 0) 0%, rgba(248, 177, 51, 0.8) 66.67%);
}

footer {
  height: 15vh;
  background-image: url("images/bgyellow.png");
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 80vw;
}
