* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background-color: white;
  box-shadow: 5px 5px 20px black;
  background-image: url('images/bgyellow.png');
  background-repeat: no-repeat;
  background-size: 70vw 40vh;
  background-position: left -10% top 50%;
}

/* <<<ul li>>> PROVISOIRE POUR VOIR LE RENDU DE LA BANNIERE A SUPPRIMER UNE FOIS LE BURGER MENU AJOUTÉ */
ul li {
  font-size: 12px;
}

.title {
  display: block;
  padding: 5px;
  height: 4.5vh;
  text-align: center;
  font-size: 1rem;
  border: solid 1px;
  color: black;
  box-shadow: 5px 5px 15px goldenrod;
}

/* BODY  */

.Body {
  height: 100%;
  background:
    linear-gradient(
      180deg,
      rgba(221, 181, 1, 0) 0%,
      rgba(248, 177, 51, 0.8) 66.67%
    );
}

.maya {
  display: block;
  position: fixed;
  height: 6vh;
  right: 8%;
  bottom: 13vh;
  border-radius: 50%;
  border: 2px solid black;
}

/* FOOTER */

.Footer {
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  height: 8vh;
  background-image: url('images/bgyellowinvert.png');
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: 5px 5px 25px black;
  background-size: 70vw 40vh;
  background-position: right -10% top 50%;
}

.Footer ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.Footer h3 {
  font-size: 1rem;
}

.link li {
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (min-width: 900px) {
  .Header {
    height: 10vh;
    background-size: 70vw 47vh;
  }

  .title {
    height: 6.5vh;
    font-size: 1.5rem;
  }

  .Footer {
    height: 10vh;
    background-size: 70vw 47vh;
  }

  .Footer h3 {
    font-size: 1.5rem;
  }

  .link li {
    font-size: 18px;
  }
}

@media screen and (min-width: 1380px) {
  .Header {
    height: 11vh;
    background-size: 70vw 57vh;
  }

  .title {
    height: 8vh;
    font-size: 2rem;
  }

  .Footer {
    height: 11vh;
    background-size: 70vw 57vh;
  }

  .Footer h3 {
    font-size: 1.5rem;
  }

  .link li {
    font-size: 20px;
  }
}
